<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <link href="semantic.min.css" rel="stylesheet" type="text/css">
  <script src="jquery-2.2.4.min.js"></script>
  <script src="semantic.min.js"></script>
  <title>Project Ako</title>
</head>
<body>
  <div class="ui very padded center aligned basic segment">
    <main class="ui text container">
      <h1 class="ui header">
        Project Ako
        <p class="sub header">Project Television 的 RESTful API 版本 | API 版本 : v0</p>
      </h1>
      <div class="ui hidden divider"></div>
      <h3 class="ui block header">如何使用 Project Ako ？</h3>
      <p>首先，请访问如下地址获取可以使用的 API 地址：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/</pre>
      <p>本项目的主要功能入口都会出现在上面的地址里。当然它只会告诉你本项目能干些什么，详细功能使用方法可以在本页里找到。</p>
      <h4 class="ui block header">获取黑名单信息</h4>
      <p>本项目内带有黑名单功能，若某位 UP 主拥有过不良记录，那么他将会被记录在本黑名单内。</p>
      <p>位于黑名单内的用户，其投稿的视频将会被系统自动过滤，停止解析。</p>
      <p>用户可通过下方地址获得黑名单列表：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/blacklists</pre>
      <p>黑名单内的每一个条目由“用户 ID + 屏蔽原因”组成。</p>
      <h4 class="ui block header">获取视频信息</h4>
      <p>用户可通过下方地址获得视频信息：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/video/[视频 ID (又称 AV 号)]</pre>
      <p>例如某用户需要获取<a href="http://www.bilibili.com/video/av1145140/">某个视频</a>的信息，可以向下方地址发送请求：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/video/1145140</pre>
      <p>它所返回的数据如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>vid</code></td>
            <td>视频的 AV 号（不含 av 前缀）</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>cover</code></td>
            <td>视频的封面图片地址</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>title</code></td>
            <td>视频的标题</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>date</code></td>
            <td>视频的发布日期，以 UNIX 时间戳的方式显示</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>desc</code></td>
            <td>视频的简介</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>isMultipart</code></td>
            <td>确定该视频是否为多 P 视频</td>
            <td><code>Boolean</code></td>
          </tr>
          <tr>
            <td><code>uid</code></td>
            <td>视频的发布者 ID ，可用于查询用户信息</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>cid</code></td>
            <td>视频的 cid ， cid 又被称为弹幕池 ID ，可用于获取视频的弹幕池</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>click</code></td>
            <td>视频的点击量</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>danmaku</code></td>
            <td>视频的弹幕数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>coin</code></td>
            <td>视频的硬币数，请勿与新番承包用的 B 币相混淆</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>favourite</code></td>
            <td>视频的收藏数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>duration</code></td>
            <td>视频的总长度，此字段在多 P 视频里容易出现问题，请谨慎使用</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>reply</code></td>
            <td>视频的评论数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>tags</code></td>
            <td>视频的标签</td>
            <td><code>Array of String</code></td>
          </tr>
        </tbody>
      </table>
      <div class="ui tiny warning icon message">
        <i class="warning sign icon"></i>
        <div class="content">
          <span class="header">由于 B 站系统原因，部分视频可能不会被获取</span>
          <p>由于 B 站内部原因，涉及到“哲学”、“淫梦”、“福利”等的视频不能通过本项目成功访问。<br>另外，若服务器设置在中国大陆以外的地方，还有可能无法访问到 B 站的正版新番。</p>
        </div>
      </div>
      <h4 class="ui block header">获取用户信息</h4>
      <p>用户可通过下方地址获得用户信息：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/user/[用户 ID]</pre>
      <p>例如某用户需要获取某位用户的信息，可以向下方地址发送请求：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/user/75174</pre>
      <p>它所返回的数据如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>uid</code></td>
            <td>用户 ID</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>name</code></td>
            <td>用户昵称</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>avatar</code></td>
            <td>用户的头像地址</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>description</code></td>
            <td>用户签名</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>fans</code></td>
            <td>粉丝数量</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>follows</code></td>
            <td>用户关注信息<br>此对象中包含了 <code>size</code> 和 <code>list</code> 两个字段，前者表示关注数量，后者列出了关注中的用户的 ID</td>
            <td><code>Object</code><br><code>size</code> : <code>Number</code><br><code>list</code> : <code>Array of Number</code></td>
          </tr>
          <tr>
            <td><code>regtime</code></td>
            <td>用户的注册时间，以 UNIX 时间戳的方式显示</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>level</code></td>
            <td>用户等级</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>birthday</code></td>
            <td>用户的生日信息</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>place</code></td>
            <td>用户的现居住地</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>sex</code></td>
            <td>用户的性别信息，它可以是“男”、“女”或“保密”</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>verification</code></td>
            <td>用户认证信息<br>此对象中包含了 <code>verified</code> 和 <code>info</code> 两个字段，前者表示该用户是否为认证用户，后者表示认证信息</td>
            <td><code>Object</code><br><code>verified</code> : <code>Boolean</code><br><code>info</code> : <code>String</code></td>
          </tr>
          <tr>
            <td><code>blacklisted</code></td>
            <td>若用户被列入系统黑名单，则会出现此字段<br>它表示了用户被列入黑名单的原因</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>tags</code></td>
            <td>用户的标签</td>
            <td><code>Array of String</code></td>
          </tr>
        </tbody>
      </table>
      <h4 class="ui block header">获取用户投稿</h4>
      <p>用户可通过下方地址获得用户投稿信息：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/user/[用户 ID]/videos</pre>
      <p>例如某用户需要获取某位用户的信息，可以向下方地址发送请求：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/user/75174/videos</pre>
      <p>它所返回的数据为数组，数组内的对象数据直接取自 Bilibili 官方格式，如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>aid</code></td>
            <td>视频的 AV 号（不含 av 前缀）</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>copyright</code></td>
            <td>视频的版权信息，它可以是“ Original ”或“ Copy ”</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>typeid</code></td>
            <td>视频所在分区的 ID</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>title</code></td>
            <td>视频的标题</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>subtitle</code></td>
            <td>视频的子标题，用途不明</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>play</code></td>
            <td>视频的播放次数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>review</code></td>
            <td>视频的评论数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>video_review</code></td>
            <td>视频的弹幕数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>favourites</code></td>
            <td>视频的收藏数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>mid</code></td>
            <td>视频的发布者 ID ，可用于查询用户信息</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>author</code></td>
            <td>视频的发布者昵称</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>description</code></td>
            <td>视频的简介</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>created</code></td>
            <td>视频的发布日期</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>pic</code></td>
            <td>视频的封面图片地址</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>comment</code></td>
            <td>视频的弹幕数，与 <code>video_review</code> 重复</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>length</code></td>
            <td>视频的总长度，此字段在多 P 视频里的行为暂未进行测试，请谨慎使用</td>
            <td><code>String</code></td>
          </tr>
        </tbody>
      </table>
      <h4 class="ui block header">获取新番信息</h4>
      <p>用户可通过下方地址获得新番信息：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/bangumi/[新番 ID]</pre>
      <p>例如某用户需要获取<a href="http://bangumi.bilibili.com/anime/5062/">某个新番</a>的信息，可以向下方地址发送请求：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/bangumi/5062</pre>
      <p>它所返回的数据如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>id</code></td>
            <td>新番的 ID 号</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>title</code></td>
            <td>新番名称</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>desc</code></td>
            <td>新番介绍</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>cover</code></td>
            <td>新番的封面图片地址</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>play</code></td>
            <td>新番播放量，以相对数字的方式显示<br>目前暂时没有方法获得它的绝对值</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>fans</code></td>
            <td>新番追番数，以相对数字的方式显示<br>目前暂时没有方法获得它的绝对值</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>danmaku</code></td>
            <td>新番弹幕数，以相对数字的方式显示<br>目前暂时没有方法获得它的绝对值</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>status</code></td>
            <td>新番的目前连载状态，完结时显示“已完结”，连载中时会显示每周连载时间<br>该字段可能为空</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>date</code></td>
            <td>新番上映年月</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>cv</code></td>
            <td>新番参与声优列表</td>
            <td><code>Array of String</code></td>
          </tr>
          <tr>
            <td><code>tags</code></td>
            <td>新番标签，受 B 站系统限制最多只能有 3 个</td>
            <td><code>Array of String</code></td>
          </tr>
        </tbody>
      </table>
      <h4 class="ui block header">获取新番承包信息</h4>
      <p>用户可通过下方地址获得新番承包信息：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/bangumi/[新番 ID]/sponsors</pre>
      <p>例如某用户需要获取<a href="http://bangumi.bilibili.com/anime/5062/">某个新番</a>的信息，可以向下方地址发送请求：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/bangumi/5062/sponsors</pre>
      <p>另外，用户可定义不同页数和每一页能够显示出来的数量：</p>
      <pre class="ui secondary segment"><%- serverPath %>/api/v0/bangumi/[新番 ID]/sponsors?page=[页数]&size=[每一页所显示的数量]</pre>
      <p>它所返回的数据如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>size</code></td>
            <td>新番承包者人数</td>
            <td><code>Number</code></td>
          </tr>
          <tr>
            <td><code>list</code></td>
            <td>新番承包详细信息</td>
            <td><code>Array of Object</code></td>
          </tr>
        </tbody>
      </table>
      <p>承包者的详细信息如下：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>字段名</th>
            <th>说明</th>
            <th>类型</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>face</code></td>
            <td>承包者的用户头像</td>
            <td><code>String</code></td>
          </tr>
          <tr>
            <td><code>hidden</code></td>
            <td>承包者的匿名状况，若该值为“ 1 ”，那么该承包者将以匿名用户的身份出现</td>
            <td><code>String (Number)</code></td>
          </tr>
          <tr>
            <td><code>message</code></td>
            <td>承包者在承包该新番时的留言</td>
            <td><code>String</code></td>
          <tr>
            <td><code>rank</code></td>
            <td>承包者在排行榜的名次</td>
            <td><code>String (Number)</code></td>
          </tr>
          <tr>
            <td><code>uid</code></td>
            <td>承包者的用户 ID</td>
            <td><code>String (Number)</code></td>
          </tr>
          <tr>
            <td><code>uname</code></td>
            <td>承包者的用户名</td>
            <td><code>String</code></td>
          </tr>
          </tr>
        </tbody>
      </table>
      <h4 class="ui block header">错误码</h4>
      <p>用户在使用 Project Ako 时可能会遇到一些错误，为了让用户和开发者都能更加容易地了解错误类型和原因，我们在系统内定义了一些错误码。</p>
      <p>目前可用的错误码如下表所示：</p>
      <table class="ui table">
        <thead>
          <tr>
            <th>错误码</th>
            <th>说明及可能原因</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td><code>0</code></td>
            <td>无任何错误，正常执行</td>
          </tr>
          <tr>
            <td><code>403</code></td>
            <td>系统无法访问视频信息，这有可能是因为视频已被删除，或视频处在审核中或需要权限访问的状态。<br>另外，在海外网络中， B 站的正版新番也不能成功访问。</td>
          </tr>
          <tr>
            <td><code>405</code></td>
            <td>系统无法获取视频的 cid ，这极有可能是因为视频的视频源已经损坏或不受支持。这种类型的错误无法修复，需要视频 UP 主和 Bilibili 管理员配合对视频来源进行修复。</td>
          </tr>
          <tr>
            <td><code>450</code></td>
            <td>系统在获取视频信息时发现 UP 主被列入系统黑名单，而被停止解析。</td>
          </tr>
          <tr>
            <td><code>205</code></td>
            <td>系统在向 Bilibili 服务器发送请求后返回空内容。<br>目前此错误码只会在获取用户投稿信息时才会发生，主要原因为用户未上传任何视频。</td>
          </tr>
          <tr>
            <td><code>203</code></td>
            <td>我是公交车。I'm a bus.<br><span style="background: #000; color: #4CAF50; padding: 2px 5px; font-weight: bold;">水口 &nbsp;<span style="color: #F44336;">203</span>&nbsp; 潼侨</style></td>
          </tr>
          <tr>
            <td><code>322</code></td>
            <td>我是公交车。I'm a bus.<br><span style="background: #1A237E; color: #FFF; padding: 2px 5px; font-weight: bold;">仲恺龙旗 &nbsp;<span style="color: #F44336;">322</span>&nbsp; 潼侨工业区</style></td>
          </tr>
        </tbody>
      </table>
    </main>
    <footer class="ui vertical footer segment" style="padding: 3em;">
      <section class="ui center aligned container">
        <div class="ui horizontal small divided link list">
          <a class="item" href="https://www.yudachi.biz/">Made by Project YudachiBomber</a>
        </div>
      </section>
    </footer>
  </div>
</body>
</html>
